<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Navigation section -->
    <nav>
      <a href="/">Home</a>
      <div class="nav-links">
        <a href="/services">Our Services</a>
        <a href="/contact">Contact us</a>
      </div>
    </nav>

    <!-- Content section -->
    <section class="content">
      <!-- Contact information -->
      <h1>Contact Us</h1>
      <p>Feel free to get in touch with us for any inquiries or assistance:</p>
      <ul>
        <li>Email: josephizuu@example.com</li>
        <li>Phone: +2347061339559</li>
        <li>Address: GOMYCODE, Aminu Kano Crescent, Wuse II, Abuja</li>
      </ul>
      <p>We'd love to hear from you!</p>
    </section>

    <!-- Footer section -->
  </body>
  <footer>
    <p>&copy; 2023 josephizuu. All rights reserved.</p>
  </footer>
</html>
